<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
        <title>Title</title>

        <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/reset.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/site.css}"/>

        <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/container.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/grid.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/header.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/image.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/menu.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/button.css}"/>


        <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/divider.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/list.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/segment.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/dropdown.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/icon.css}"/>

        <script src="//cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
        <script src="//cdn.bootcss.com/jquery/2.2.3/jquery.slim.min.js"></script>

    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <a href="#" class="header item">
                    <img class="logo" src="assets/images/logo.png"/>
                    滑板圈
                </a>
                <a href="#" class="item">Home</a>
                <div class="ui simple dropdown item">
                    Dropdown <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" href="#">Link Item</a>
                        <a class="item" href="#">Link Item</a>
                        <div class="divider"></div>
                        <div class="header">Header Item</div>
                        <div class="item">
                            <i class="dropdown icon"></i>
                            Sub Menu
                            <div class="menu">
                                <a class="item" href="#">Link Item</a>
                                <a class="item" href="#">Link Item</a>
                            </div>
                        </div>
                        <a class="item" href="#">Link Item</a>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>