<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <title th:text="${inviter.name} + '邀请你加入滑板圈'"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/reset.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/site.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/container.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/grid.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/header.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/image.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/menu.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/button.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/card.css}"/>


    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/divider.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/list.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/segment.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/dropdown.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/icon.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/default.css}"/>

    <script src="//cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/jquery/2.2.3/jquery.slim.min.js"></script>
</head>
<body>
    <div class="ui main text container">
        <div class="ui main text container center">
            <h1 class="ui teal header center">滑板圈</h1>
            <h4 class="ui teal header">专业的滑板教学与原创视频分享社区</h4>
        </div>

        <div id="button_join" class="fluid ui red button">点击立即加入</div>

    </div>

    <script th:inline="javascript">
        $(document).ready(function() {
            $("#button_join").click(function(){
                console.log("todo join");
                self.location='/login/qqlogin?inviteid=[[ ${inviter.id}]]';
            });
        });
    </script>
</body>
</html>